<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat Clicker</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <div class="cat-list-container">
        <h2 class="title">Choose a cat to click</h2>
        <ul id="cat-list">
            <li class="cat-item" v-for="cat in cats">
                <img class="cats" v-bind:src="cat.picture" @click="changeCat(cat.id)">
                <span><h2>{{cat.id}}-{{cat.name}}</h2></span>
            </li>
        </ul>
    </div>
    
    <div id="cat" class="cat-display">
        <h1 id="cat-level">Level : {{cat.level}}</h1>
        <h2 id="cat-name">{{cat.name}}</h2>
        <div id="cat-count" class="click-number">{{cat.clickCount}} <span class="text">Clicks</span></div>
        <img class="cats" id="cat-img" v-bind:src="cat.picture" alt="cute cat" @click="incrementCounter" @keydown.space="incrementCount">
        <h3>cat nicknames</h3>
        <ul id="nicknames-list">
            <li class="nickname-item" v-for="nickname in cat.nicknames">
                <span><h2>{{nickname}}</h2></span>
            </li>
        </ul>
    </div>

    <script src="assets/js/lib/vue.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>