* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #f1f1f1;
  color: #555;
  font-family: "calibir", sans-serif;
  text-align: center; }

.cat-list-container {
  width: 30%;
  background: #d8d8d8;
  height: 100vh;
  overflow-y: auto; }
  .cat-list-container .cat-list {
    margin-top: 30px;
    list-style: none; }
    .cat-list-container .cat-list .cat-id {
      display: none; }
    .cat-list-container .cat-list li {
      margin: 10px 0;
      padding: 10px; }
      .cat-list-container .cat-list li:hover, .cat-list-container .cat-list li.selected {
        background: #00bb00; }

.title {
  text-align: center;
  margin: 20px;
  color: #00bb00; }

.main-screen {
  width: 70%; }

.cat-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px; }

.click-number {
  text-align: center;
  color: #555;
  font-size: 20px; }
  .click-number span.text {
    color: #00bb00;
    margin-left: 5px;
    font-weight: bolder; }

.cat-display .cats {
  width: 450px; }

.cats {
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }
  .cats:hover {
    transform: scale(1.01); }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px; }

button {
  width: 100px;
  height: 38px;
  background: #00bb00;
  text-align: center;
  border-radius: 4px;
  border: none;
  color: #555;
  cursor: pointer;
  margin: 10px 0 5px 0; }
  button:hover {
    background: #00ee00; }

.admin-box,
.admin-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px; }
  .admin-box input,
  .admin-form input {
    width: 50%;
    height: 28px;
    margin: 5px 0;
    padding: 5px; }

.admin-form {
  visibility: hidden; }
  .admin-form.visible {
    visibility: visible; }

/*# sourceMappingURL=main.css.map */
