=makeFlex($width,$direction,$justify,$align)
  width: $width
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $align

$primary-color: #f1f1f1
$contrast-color: #00bb00
$text-color: #555

*
  box-sizing: border-box
  margin: 0 
  padding: 0

body
  +makeFlex(100%,row,flex-start,center)
  background: $primary-color
  color: $text-color
  font-family: 'calibir', sans-serif
  text-align: center

.cat-list-container
  width: 30%
  background: darken($primary-color,10%)
  height: 100vh
  overflow-y: auto
  .cat-list
    margin-top: 30px
    list-style: none
    .cat-id 
      display: none
    li
      margin: 10px 0
      padding: 10px
      &:hover,
      &.selected
        background: $contrast-color
.title
  text-align: center
  margin: 20px
  color: $contrast-color
.main-screen
  width: 70%
.cat-display
  +makeFlex(100%,column, center, center)
  margin: 0 15px
  
.click-number
  text-align: center
  color: $text-color
  font-size: 20px
  span.text
    color: $contrast-color
    margin-left: 5px
    font-weight: bolder
.cat-display .cats
  width: 450px
  
.cats
  width: 200px
  border-radius: 4px
  cursor: pointer
  transition: all ease .3s
  box-shadow: 2px 2px 5px rgba(0,0,0,.4)
  
  &:hover
    transform: scale(1.01)
  
::-webkit-scrollbar-track
  background-color: transparent

::-webkit-scrollbar
  width: 10px
  background-color: transparent

::-webkit-scrollbar-thumb
  background-color: transparentize(#000,.7)
  border-radius: 3px 

button
  width: 100px
  height: 38px
  background: $contrast-color
  text-align: center
  border-radius: 4px
  border: none
  color: $text-color
  cursor: pointer
  margin: 10px 0 5px 0

  &:hover
    background: lighten($contrast-color,10%)

.admin-box,
.admin-form
  +makeFlex(100%,column,center,center)
  padding: 0 10px

  input
    width: 50%
    height: 28px
    margin: 5px 0
    padding: 5px

.admin-form
  visibility: hidden

  &.visible
    visibility: visible
